.resultsContainer {
  width: 100%;
  min-height: calc(100vh - 123px);
  background-color: rgb(228, 228, 228);
  padding-bottom: 50px;
}

/*STYLES FOR TOP BAR WITH BACK BUTTON AND NEW CALCULATION BUTTON*/
.topBtnBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 2% 0% 1% 0%;
}
.topBtnsBar {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 170px;
  height: 50px;
  /* margin-right: 10px; */
  margin-right: 20px;
  padding: 2%;

  background-color: #c2effa;

  border: 1px solid rgba(0, 0, 0, 0.38);
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  cursor: pointer;
}
.topBtnBarSubDiv {
  display: flex;
}

.backBtn {
  text-align: center;
  font-weight: 300;
  font-size: 24px;
}
.newCalculationBtn {
  font-weight: 300;
  font-size: 24px;
}

/*STYLES FOR LIST OF FOOD RESULTS*/
.individualResultsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

/*STYLES FOR INDIVIDUAL FOOD RESULT CARD*/
.individualResultsCard {
  width: 70%;
  background-color: white;
  height: 350px;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.AmountAndFootprint{
  width: 50%;

}

.amountBox {
  width: 100%;
  border-radius: 10px;
  border: 2px solid black;
  height: 130px;
  margin-bottom: 10px;
}

.footprintBox {
  width: 100%;
  border-radius: 10px;
  border: 2px solid black;
  height: 200px;
}

.footprintText{
  padding-left: 7px;
  padding-right: 2px;
  margin-top: 7px;
}

.footprintBoxBold{
  font-weight: bold;
}

.nutritionAndFunFacts{
  width: 50%;

}

.nutritionBox {
  width: 100%;
  border-radius: 10px;
  border: 2px solid black;
  height: 121px;
  margin-bottom: 10px;
  text-align: center; 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 46px; 
  text-decoration: underline;
  padding-top: 9px;
  font-family: Arial, sans-serif; 
}

.nutrtionStarsImg{
  max-width: 50px; 
  max-height: 50px; 
  margin-right: 10px;
}



.funFactBox {
  width: 100%;
  border-radius: 10px;
  border: 2px solid black;
  height: 200px;
  white-space: pre-line;
  overflow: auto;
}

.funFactText{
  padding-left: 7px;
  padding-right: 2px;
  margin-top: 5px;
}


.individualResultsCard img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
}
.imageAndFoodName {
  max-width: 300px;
}
.currentFoodName {
  color: grey;
}

.currentNutritionStars{
  color: black;

}

