.oregonStateUniversityIcon {
  position: relative;
  width: 311px;
  height: 75.5px;
  object-fit: cover;
}
.information {
  position: relative;
}
.informationButtonFrame {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-56xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 188px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0;
}
.informationButton {
  position: relative;
  width: 188px;
  height: 44.4px;
}
.topBar {
  background-color: var(--color-orangered);
  width: 1440px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 21.31745910644531var (--padding-11xs) var(--padding-11xs)
    24.87036895751953px;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inria-serif);
}
