.totalStars {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  max-width: 90%;
  padding: 0% 10%;
  overflow: hidden;
}

.emptyStar {
  height: 35px;
  width: 35px;
  color: lightgrey;
  margin-left: 10px;
  margin-right: 10px;
}

.filledStar {
  height: 35px;
  width: 35px;
  color: #fdd939;
  margin-left: 10px;
  margin-right: 10px;
}
