.mainFoodCardsPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  background-color: var(--color-white);
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-calibri);
}

.foodcard {
  width: 250px;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  padding-top: 7px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-200);
}

.foodcardimage {
  width: 235px;
  height: 290px;
}

.foodcardsframe {
  position: absolute;
  top: 190px;
  left: 340px;
  right: 0;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  padding-top: 35px;
  gap: 60px;
  margin-top: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
  font-size: var(--font-size-19xl);
  color: var(--color-dimgray-100);
}

.addFoodButtonContainer{
    position: relative;
    
}

.addFoodButton {
  position: relative;
  bottom: 8px; 
  left: 41%; 
  transform: translateX(-50%); 
  height: 65px;
  width: 65px;
  margin-bottom: 5px; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #33b249;
  border-radius: 15px;
  border: 1px solid black;
}

.plus-sign {
  position: relative;
  font-size: 40px; 
}

.dropDownSearchContainer {
  position: absolute;
  padding: 10px;
  display: flex;
  top: 123px;
  left: 340px;
  height: 50px;
  width: calc(100% - 340px);
  display: flex;
}

.searchicon {
  width: 34px;
  height: 34px;
  object-fit: cover;
}

.searchInput {
  height: 100%;
  border: none;
  font-weight: 300;
}
.searchcardsframe {
  max-width: 250px;
  height: 40px;
  left: auto;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: 30px;
}
.allColors {
  position: relative;
  font-weight: 300;
  margin-top: 10px;
  left: 25px;
}

.colorsdropdownframe {
  min-width: 200px;
  height: 40px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: visible;
  border: none;
  font-weight: 300;
}

.youCurrentlyHave {
  margin: 0;
}
.youCurrentlyHaveContainer1 {
  width: 100%;
}
.myCalculator,
.youCurrentlyHaveContainer {
  position: absolute;
  top: 184.8px;
  left: 38.8px;
  display: flex;
  align-items: center;
  width: 277.3px;
  height: 177.9px;
}
.myCalculator {
  top: 51.6px;
  left: 64px;
  font-size: var(--font-size-5xl);
  justify-content: center;
  width: 290px;
  height: 62.6px;
}
.calculatoricon {
  position: absolute;
  top: 21px;
  left: 21px;
  width: 93px;
  height: 113px;
  object-fit: cover;
}
.calculatorsidebarframe {
  position: absolute;
  top: 123px;
  left: 0;
  width: 340px;
  height: 100%;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.bottomButtonsContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.calculateButton {
  height: 65px;
  width: 100%;
  background-color: #33b249;
  padding: 10px;
  box-sizing: border-box; 
  margin-bottom: 5px; 
  border-radius: 10px;
  display: flex;
  align-items: center; 
  justify-content: center;
  border: 1px solid black; /* Thin black border */
  font-size: 40px;

}

.clearCalcButton {
  height: 65px;
  width: 100%;
  background-color: #ED0800;
  padding: 10px;
  box-sizing: border-box; 
  margin-bottom: 5px; 
  border-radius: 10px;
  display: flex;
  align-items: center; 
  justify-content: center;
  border: 1px solid black; /* Thin black border */
  font-size: 40px;
}

/* .oregonstateuniversityicon {
  width: 311px;
  position: relative;
  height: 75.5px;
  object-fit: cover;
}

.informationbutton {
  width: 188px;
  height: 44.4px;
  border-radius: var(--br-56xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  margin-left: auto;
}

.headerframe {
  background-color: var(--color-orangered);
  width: 100%;
  height: 122px;
  display: flex;
  align-items: center;
  padding: 21px var(--padding-11xs) 25px;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
} */
/* .dividerlineIcon,
.headerframe,
.osufootericon {
  position: absolute;
  overflow: hidden;
}
.dividerlineIcon {
  top: 80px;
  left: 719px;
  max-width: 100%;
  height: 276px;
  object-fit: contain;
}
.osufootericon {
  top: 42px;
  left: 222px;
  width: 234.7px;
  height: 75px;
}
.collegeOfHealth,
.oregonStateUniversitys {
  position: absolute;
  top: 194px;
  left: 168px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 368px;
}
.oregonStateUniversitys {
  top: 265px;
  left: 170px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  width: 361px;
  height: 100px;
  text-align: center;
}
.footerframe {
  width: 1440px;
  top: 3930px;
  background-color: #212529;
  height: 458px;
  flex-shrink: 0;
  font-size: var(--font-size-7xl);
  color: var(--color-orangered);
}
.footerframe {
  position: relative;
  overflow: hidden;
} */
