.mainFoodCardsPage {
  width: 100%;
  min-height: calc(100vh - 123px);
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  background-color: var(--color-white);
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-calibri);
}

.foodcard {
  width: 250px;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  padding-top: 7px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-200);
  z-index: 1;
}

.foodcardimage {
  width: 235px;
  height: 290px;
  z-index: 1;
}

.foodcardsframe {
  position: absolute;
  top: 190px;
  left: 340px;
  right: 0;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  padding-top: 35px;
  gap: 60px;
  margin-top: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
  font-size: var(--font-size-19xl);
  color: var(--color-dimgray-100);
  z-index: 1;
}

.addFoodButtonContainer {
  position: relative;
}

.addFoodButton,
.removeFoodButton {
  position: relative;
  bottom: 8px;
  left: 41%;
  transform: translateX(-50%);
  height: 65px;
  width: 65px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 1px solid black;
}

.addFoodButton {
  background-color: #33b249;
}

.removeFoodButton {
  background-color: #ed0800;
}

.plus-sign {
  position: relative;
  font-size: 40px;
}

.addFoodButtonContainer {
  position: relative;
}

.addFoodButton {
  position: relative;
  bottom: 8px;
  left: 41%;
  transform: translateX(-50%);
  height: 65px;
  width: 65px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #33b249;
  border-radius: 15px;
  border: 1px solid black;
}

.plus-sign {
  position: relative;
  font-size: 40px;
}

.foodInCalculatorContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 100px;
  width: 100%;
  height: calc(100vh - 440px);
  overflow-y: scroll;
}

.foodInCalculatorContainer img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.dropDownSearchContainer {
  position: absolute;
  padding: 10px;
  display: flex;
  top: 123px;
  left: 340px;
  height: 50px;
  width: calc(100% - 360px);
  z-index: 3000;
}

.searchicon {
  width: 34px;
  height: 34px;
  object-fit: cover;
}

.searchInput {
  height: 100%;
  border: none;
  font-weight: 300;
}
.searchcardsframe {
  max-width: 250px;
  height: 40px;
  left: auto;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: 30px;
}
.allColors {
  position: relative;
  font-weight: 300;
  margin-top: 10px;
  left: 25px;
}

.colorsdropdownframe {
  min-width: 200px;
  height: 40px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: visible;
  border: none;
  font-weight: 300;
}

.colorOption {
  width: 100px;
  height: 40px;
  background-color: lightgray;
  color: white;
  font-weight: 300;
}

.youCurrentlyHave {
  margin: 0;
}
.youCurrentlyHaveContainer1 {
  width: 100%;
  height: 100%;
}
.myCalculator,
.youCurrentlyHaveContainer {
  position: absolute;
  top: 155px;
  left: 0px;
  display: flex;
  align-items: center;
  width: 95%;
  height: calc(100vh - 455px);
  padding: 5px;
  overflow-y: scroll;
}

.youCurrentlyHaveContainer img {
  width: 40px;
  height: 40px;
}

.myCalculator {
  top: 51.6px;
  left: 64px;
  font-size: var(--font-size-5xl);
  justify-content: center;
  width: 290px;
  height: 62.6px;
}

.calculatoricon {
  position: absolute;
  top: 21px;
  left: 21px;
  width: 93px;
  height: 113px;
  object-fit: cover;
}

.calculatorsidebarframe {
  position: absolute;
  top: 123px;
  left: 0;
  width: 340px;
  height: calc(100vh - 123px);
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.bottomButtonsContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.calculateButton {
  height: 65px;
  width: 90%;
  background-color: #33b249;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 5px;
  margin-left: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black; /* Thin black border */
  font-size: 40px;
}

.clearCalcButton {
  height: 65px;
  width: 90%;
  background-color: #ed0800;
  padding: 10px;
  box-sizing: border-box;
  margin-left: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black; /* Thin black border */
  font-size: 40px;
}
