/*styles for food page frame (in between header and footer*/
.mainFoodCardsPage {
  width: 100%;
  min-height: calc(100vh - 123px);
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  background-color: var(--color-white);
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-calibri);
}

.rightOfSidebar {
  top: 0;
  height: calc(100vh - 123px);
  flex: 1;
  display: flex;
  flex-direction: column;
}

/*styles for food cards*/
.foodcard {
  width: 250px;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  padding-top: 7px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-200);
  z-index: 1;
}

.foodcardimage {
  width: 235px;
  height: 290px;
  z-index: 1;
}

.foodcardsframe {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  padding-top: 35px;
  gap: 60px;
  margin-top: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
  font-size: var(--font-size-19xl);
  color: var(--color-dimgray-100);
  z-index: 1;
}

.addFoodButtonContainer {
  position: relative;
}

.addFoodButton,
.removeFoodButton {
  position: relative;
  bottom: 8px;
  left: 41%;
  transform: translateX(-50%);
  height: 65px;
  width: 65px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 1px solid black;
}

.addFoodButton {
  background-color: #33b249;
}

.removeFoodButton {
  background-color: #ed0800;
}

.plus-sign {
  position: relative;
  font-size: 40px;
}

.addFoodButtonContainer {
  position: relative;
}

.dropDownSearchContainer {
  padding: 10px;
  display: flex;
  height: 50px;
  width: calc(100% - 20px);
  z-index: 3000;
}

/*Styles for search*/
.searchicon {
  width: 34px;
  height: 34px;
  object-fit: cover;
}

.searchInput {
  height: 100%;
  border: none;
  font-weight: 300;
}
.searchcardsframe {
  max-width: 250px;
  height: 40px;
  left: auto;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: 30px;
}

/*Styles for Calculator Side Bar*/
.calculatorsidebarframe {
  display: flex;
  flex-direction: column;
  border-right: 1px solid lightgrey;
  top: 0;
  left: 0;
  width: 340px;
  height: calc(100vh - 123px);
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}

.myCalculatorHeader {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 15px;
  padding-left: 35px;
  padding-bottom: 0px;
  width: calc(100% - 50px);
  justify-content: flex-start;
  align-items: center;
}

.calculatoricon {
  width: 93px;
  height: 113px;
  object-fit: cover;
}

.myCalculatorTitle {
  font-size: var(--font-size-5xl);
}

.itemsInCalculatorFrame {
  flex: 1;
}

.nothingInCalculator {
  padding: 15px;
}

.foodsInCalculator {
  height: calc(100vh - 410px);
  overflow-y: auto;
}

.foodsInCalculator img {
  width: 40px;
  height: 40px;
}

.bottomButtonsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;
}

.calculateButton,
.clearCalcButton {
  height: 50px;
  width: 95%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black; /* Thin black border */
  font-size: 35px;
}

.calculateButton {
  background-color: #33b249;
}

.clearCalcButton {
  background-color: #ed0800;
}

/*Styles for Filter by Color Dropdown*/
.colorsdropdownframe {
  min-width: 200px;
  height: 40px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: visible;
  border: none;
  font-weight: 300;
}

.colorOption {
  width: 100px;
  height: 40px;
  background-color: lightgray;
  color: white;
  font-weight: 300;
}

.allColors {
  position: relative;
  font-weight: 300;
  margin-top: 10px;
  left: 25px;
}
